{% extends "layout.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-primary text-white">
        <h5 class="mb-0"><i class="bi bi-pencil"></i>Edit Gejala</h5>
      </div>
      <div class="card-body">
        <form method="POST">
          <div class="mb-3">
            <label class="form-label">Kode Gejala</label>
            <input
              name="kode"
              class="form-control"
              placeholder="Misal: G01"
              value="{{ gejala.kode }}"
              required
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Nama Gejala</label>
            <input
              name="nama"
              class="form-control"
              placeholder="Masukkan nama gejala"
              value="{{ gejala.nama }}"
              required
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Bobot</label>
            <input
              name="bobot"
              class="form-control"
              placeholder="0.7"
              value="{{ gejala.bobot }}"
              required
            />
          </div>

          <button class="btn btn-primary w-100">
            <i class="bi bi-check-lg"></i> Edit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
